<nav class="
  relative
  w-full
  flex flex-wrap
  items-center
  justify-between
  py-4
  bg-gray-100
  text-gray-500
  hover:text-gray-700
  focus:text-gray-700
  shadow-lg
  navbar navbar-expand-lg navbar-light
">
  <div class="container-fluid w-full flex flex-wrap items-center justify-between px-6">
  <!--button class="
      navbar-toggler
      text-gray-500
      border-0
      hover:shadow-none hover:no-underline
      py-2
      px-2.5
      bg-transparent
      focus:outline-none focus:ring-0 focus:shadow-none focus:no-underline
    " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars"
    class="w-6" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
    <path fill="currentColor"
      d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z">
    </path>
  </svg>
  </button-->
  <div class="flex-grow items-center" id="navbarSupportedContent">
  <!-- Left links -->
  <ul class="navbar-nav flex flex-col pl-0 list-style-none mr-auto">
    {% if user.is_authenticated %}
        <li class="nav-item p-2">
            <a href="{% url 'account_logout' %}" class="nav-link text-gray-500 hover:text-gray-700 focus:text-gray-700 p-0">Logout</a>
        </li>
    {% else %}
        <li class="nav-item p-2">
            <a href="{% url 'account_signup' %}" class="nav-link text-gray-500 hover:text-gray-700 focus:text-gray-700 p-0">Sign up</a>
        </li>
        <li class="nav-item p-2">
            <a href="{% url 'account_login' %}" class="nav-link text-gray-500 hover:text-gray-700 focus:text-gray-700 p-0">Login</a>
        </li>
    {% endif %}
  </ul>
  <!-- Left links -->
  </div>
  <!-- Collapsible wrapper -->

  <!-- Right elements -->
  <div class="flex items-center relative">

  <div class="dropdown relative">
    <ul class="
      dropdown-menu
      min-w-max
      absolute
      
      bg-white
      text-base
      z-50
      float-left
      py-2
      list-none
      text-left
      rounded-lg
      shadow-lg
      mt-1
      
      m-0
      bg-clip-padding
      border-none
      left-auto
      right-0
    " aria-labelledby="dropdownMenuButton1" 
    id="notification-dropdown">
        <!-- Notifications go here -->

        <hr class="h-0 my-2 border border-solid border-t-0 border-gray-700 opacity-25" />
        <li>
            <a href="#" id="clear-btn" class="
            dropdown-item
            text-sm
            py-2
            px-4
            font-normal
            block
            w-full
            whitespace-nowrap
            bg-transparent
            text-gray-700
            hover:bg-gray-100">Clear All</a>
    </ul>
  </div>
  <!-- Right elements -->
  </div>
</nav>